<% if resource.errors.any? %>
  <div class="messages">
    <ul class="errors">
      <% resource.errors.full_messages.each do |message| %>
        <li class="alert message"><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>