<% @user.works.each do |work| %>
  <div class="works">
    <h2 class="work-title"><%= link_to work.title, work, data: {"turbolinks" => false}  %></h2>
    <p><%= work.content %></p>
  </div>
<% end %>