<h1 class="title">投稿お題</h1>

<%= will_paginate %>

  <div class="items">
    <% @works.each do |work| %> 
      <div class="one-item", id="work_<%= work.id %>">
        <%= render 'work', work: work %>
      </div>
    <% end %>
  </div>

<%= will_paginate %>