<h1 class="title">List of Jobs</h1>

<%= will_paginate %>

  <div class="items">
    <% @works.each do |work| %>
      <div class="one-item">
      <h2 class="work-title"><%= link_to work.title, work %></h2>
      <p class="work-content"><%= work.content %></p>
      </div>
    <% end %>
  </div>

<%= will_paginate %>