<div class="body">
  <div class="item1 image">
    <div class="image-icon">
      <%= image_tag @user.avatar.url %>
    </div>
  </div>


  <div class="item2">
    <h1 class="">
      <p class="name"><%= @user.name %></p>
      <p class="profile-text">準備中</p>
    </h1>
  </div>

  <div class="item3">
    <h1 class="item-name">Voice Smple</h1>
    <audio controls><sorce src="#" alr="この声優のボイスサンプルです"></audio>
  </div>

  <div class="item4">
    <h1 class="item-name">実績</h1>
    <div class="achives">
      <hi class="achive-title">ナレーション</h1>
      <p>このナレーションをお願いします</p>
    </div>
    <div class="achives">
      <hi class="achive-title">ナレーション</h1>
      <p>このナレーションをお願いします</p>
    </div>
    <div class="achives">
      <hi class="achive-title">ナレーション</h1>
      <p>このナレーションをお願いします</p>
    </div>
  </div>
</div>