<h1 class="title">プロフィール</h1>

<div class="body">
  <div class="item1 image">
    <div class="image-icon">
      <%= image_tag @user.avatar.url, size:250 %>
    </div>
  </div>


  <div class="item2">
    <h1 class="">
      <p class="name"><%= @user.name %></p>
      <p class="profile-text">準備中</p>
    </h1>
  </div>

  <% if @user.voice_s? %>
    <div class="item3">
      <h1 class="item-name">Voice Smple</h1>
      <%= audio_tag @user.voice_s.url, controls: true %>
    </div>
  <% end %>

  <div class="item4">
    <h1 class="item-name">実績</h1>
    <div class="achives">
      <hi class="achive-title">ナレーション</h1>
      <p>このナレーションをお願いします</p>
    </div>
    <div class="achives">
      <hi class="achive-title">ナレーション</h1>
      <p>このナレーションをお願いします</p>
    </div>
    <div class="achives">
      <hi class="achive-title">ナレーション</h1>
      <p>このナレーションをお願いします</p>
    </div>
  </div>
</div>