<% if flash[:error_messages] %>
  <div class="messages">
    <ul class="errors">
      <% flash[:error_messages].each do |message| %>
        <li class="alert message"><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
