<div class="maxLg:hidden font-sans text-sm rounded text-add-text inline-block fixed top-1/4 right-32">
  <ul class="mr-6">
    <li class="pt-4 pb-1 border-b border-add-text duration-150 ease-linear hover:bg-add-base">
      <%= link_to "お題を探す", works_path, data: {"turbolinks" => false}, class:"m-4 my-4" %>
    </li>
    <li class="pt-4 pb-1 border-b border-add-text duration-150 ease-linear hover:bg-add-base">
      <%= link_to "お題を投稿する", new_work_path, data: {"turbolinks" => false}, class:"m-4 my-4" %>
    </li>
    <li class="pt-4 pb-1 border-b border-add-text duration-150 ease-linear hover:bg-add-base">
      <%= link_to "投稿ボイス", voices_path, data: {"turbolinks" => false}, class:"m-4 my-4" %>
    </li>
    <li class="pt-4 pb-1 border-b border-add-text duration-150 ease-linear hover:bg-add-base">
      <%= link_to "声優を探す", users_path, data: {"turbolinks" => false}, class:"m-4 my-4" %>
    </li>
  </ul>
</div>