<div class="mx-auto">
  <%= link_to "#{@user.following.count}フォロー", 
      following_user_path(@user), id:"following", data: {"turbolinks" => false}, class:"pr-2 border-r-2 border-add-text border-opacity-25" %>
  <%= link_to "#{@user.followers.count}フォロワー", 
      followers_user_path(@user), id:"follower", data: {"turbolinks" => false}, class:"pl-2"  %>
</div>