<h1 class="title">投稿ボイス</h1>

<%= will_paginate %>

  <div class="items">
    <% @voices.each do |voice| %>
      <div class="one-item", id="voice_<%= voice.id %>">
        <%= render 'voice', voice: voice %>
      </div>
    <% end %>
  </div>

<%= will_paginate %>