<footer class="py-8">
  <div class="text-center">
    <h1 class="font-serif text-center text-xl text-text inline-block mr-1">Voice</h1><h1 class="font-serif text-center text-xl text-white inline-block ml-1"> Cloud</h1>
  </div>
  <div class="text-center"> 
    <h2 class="text-center text-text text-sm inline-block">Connect wit</h2><h2 class="text-center text-text text-sm text-white inline-block">h your voice</h2>
  </div>
</footer>